<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid pt-3 ">
      <h1 class="text-center container">Welcome to The Cafe Of Good Hope</h1>
        <p><span class="text-warning fs-2">THECAFEOFGOODHOPE</span> was established by <span class="text-primary fs-3">Mr.Srigada Bhaskar</span><span class="text-warning">(Founder)</span> in <span class="text-info">2022 March</span>,
            actually he opened this Cafe by doing this project. He showed interest to start <span class="text-info">TheCafeOfGoodHope</span>. The Brand name 'TheCafeOfGoodHope' was given by his cousin <span class="text-primary fs-4">Mr.Ramakrushna Budharam</span><span class="text-warning">(Co-Founder)</span> who was working as 
            a "Assistant IT Engineer" in <span class="bg-dark text-light">TCS(Tata Consultancy Services)</span>.
        </p>
    </div>
    <div class="row container-fluid">
      <h2 class="text-center">Inside view of cafe.</h2>
      <div class="col-11 container">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
              <img src="./assets/cafephotos/aboutus-bg-1.jpg" class="d-block w-100" alt="It is a Coffee image">
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <img src="./assets/cafephotos/aboutus-bg-2.jpg" class="d-block w-100" alt="cafe image">
            </div>
            <div class="carousel-item">
              <img src="./assets/cafephotos/aboutus-bg-3.jpg" class="d-block w-100" alt="It is interior design of a cafe image">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <h3 class="text-center">Teas</h3>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/tea.jpg" class="card-img" alt="It is a Tea image" height="200px"></a>
              <h5 class="card-title text-center">Tea</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/green-tea.jpg" class="card-img" alt="It is a green-tea image" height="200px"></a>
              <h5 class="card-title text-center">Green Tea</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/lemon-tea.jpg" class="card-img" alt="It is a Lemon-Tea image" height="200px"></a>
              <h5 class="card-title text-center">Lemon Tea</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/badam-tea.jpg" class="card-img" alt="It is a Badam-Tea image" height="200px">
            </a>
              <h5 class="card-title text-center">Badam Tea</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <h3 class="text-center">Coffees</h3>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/coffee.jpg" class="card-img" alt="It is a Coffee image" height="200px">
            </a>
              <h5 class="card-title text-center">Coffee</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/black-coffee.jpg" class="card-img" alt="It is a black-Coffee image" height="200px"></a>
              <h5 class="card-title text-center">Black Coffee</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/coldcoffe.jpg" class="card-img" alt="It is a Cold-Coffee image" height="200px"></a>
              <h5 class="card-title text-center">Cold Coffee</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/teas-coffee">
            <img src="./assets/images/hot coffee.jpg" class="card-img" alt="It is a hot Coffee image" height="200px"></a>
              <h5 class="card-title text-center">Hot Coffee</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <h3 class="text-center">Some Of Indian Breakfasts</h3>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/idly1.jpg" class="card-img" alt="It is a Idly recipe image" height="200px"></a>
              <h5 class="card-title text-center">Idly Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/masaladosa.jpg" class="card-img" alt="It is a Masaladosa recipe image" height="200px"></a>
              <h5 class="card-title text-center">Masala Dosa Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/wada.png" class="card-img" alt="It is a wada recipe image" height="200px"></a>
              <h5 class="card-title text-center">Wada Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/upma.jpg" class="card-img" alt="It is a Upma recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Upma Recipe</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/uttappam.jpg" class="card-img" alt="It is a Upma recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Uttappam Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/puri-and-curry...jpg" class="card-img" alt="It is a Puri recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Puri Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/pesarattu.jpg" class="card-img" alt="It is a Pesarattu recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Pesarattu Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/Pongal.png" class="card-img" alt="It is a pongal recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Pongal Rice Recipe</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/bonda.jpg" class="card-img" alt="It is a Bonda recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Bonda Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/semiya-upma-recipe.jpg" class="card-img" alt="It is a Semiya-upma recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Semiya Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/parota.jpg" class="card-img" alt="Parota" height="200px">
            </a>
              <h5 class="card-title text-center">Parota Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/Chapati-recipe.jpg" class="card-img" alt="It is a chapathi recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Chapathi Recipe</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row pb-2">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/Ragi-Dosa.jpg" class="card-img" alt="Ragi-dosa" height="200px">
            </a>
              <h5 class="card-title text-center">Ragi Dosa Recipe</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/mirchi bajji.jpg" class="card-img" alt="it is a mirchi bajji recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Mirchi Recipe</h5>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/breakfasts">
            <img src="./assets/pics/Poha.jpg" class="card-img" alt="It is a poha recipe image" height="200px">
            </a>
              <h5 class="card-title text-center">Poha Recipe</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <h3 class="text-center">Cooldrinks</h3>
      <div class="row pb-2">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/sprite.gif" class="card-img" alt="sprite gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Sprite</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/thums_up.gif" class="card-img" alt="Thumsup gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Thumsup</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/cokokola.gif" class="card-img" alt="coca cola gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Coca Cola</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/pepsi.gif" class="card-img" alt="Pepsi gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Pepsi</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row pb-2">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/mountaindew.gif" class="card-img" alt="mountain-dew gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Mountain-dew</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/7up.gif" class="card-img" alt="7up gif image" height="200px">
            </a>
              <h5 class="card-title text-center">7Up</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/marinda.gif" class="card-img" alt="mirinda gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Mirinda</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/fanta.gif" class="card-img" alt="fanta gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Fanta</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row pb-2">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/limka2.gif" class="card-img" alt="limka gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Limka</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/appyfizz.jpg" class="card-img" alt="Appyfizz gif image" height="200px">
            </a>

              <h5 class="card-title text-center">AppyFizz</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/bfizz.gif" class="card-img" alt="bfizz gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Bfizz</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/fizzup.jpg" class="card-img" alt="fizzup gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Fizzup</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="container pt-3">
      <div class="row pb-2">
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/maaza.gif" class="card-img" alt="maaza gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Maaza</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/slice.gif" class="card-img" alt="slice gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Slice</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 ">
          <div class="card bg-dark text-white">
            <a routerLink="/cooldrinks">
            <img src="./assets/gif files/frooti.gif" class="card-img" alt="frooti gif image" height="200px">
            </a>
              <h5 class="card-title text-center">Frooti</h5>
          </div>
        </div>
        
      </div>
    </div>
    
</body>
</html>