<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid cooldrinks text-dark">
    <!-- cool drinks -->
    <h2 class="text-center">Cooldrinks........<i class="fa fa-glass fa-2x text-warning" aria-hidden="true"></i>
    </h2>
  <div class="row container ms-lg-5 ps-lg-5">
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/sprite.png" class="img-fluid rounded-start" alt="sprite image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Sprite</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/thumsp.jpg" class="img-fluid rounded-start" alt="thumsup image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Thumsup</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/cococola.jpg" class="img-fluid rounded-start" alt="cococola image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Cococola</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container ms-lg-5 ps-lg-5">
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/mountaindew-1.jpg" class="img-fluid rounded-start" alt="mountaindew image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mountain-dew</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/7up.jpg" class="img-fluid rounded-start" alt="seveen up image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">7up(SevenUp)</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/pepsi-2.jpg" class="img-fluid rounded-start" alt="pepsi image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Pepsi</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container ms-lg-5 ps-lg-5">
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/fanta1.jpg" class="img-fluid rounded-start" alt="fanta image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Fanta</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/marinda.jpg" class="img-fluid rounded-start" alt="marinda Image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Mirinda</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/limka1.jpg" class="img-fluid rounded-start" alt="limka image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Limka</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container ms-lg-5 ps-lg-5">
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/happyfizz1.jpg" class="img-fluid rounded-start" alt="HappyFIzz image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">AppyFizz</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/bfizz.jpg" class="img-fluid rounded-start" alt="bfizz image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">BFizz</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/fizzup1.png" class="img-fluid rounded-start" alt="fizzup image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">FizzUp</h5>
              <p class="card-text">1/4 litr - 20 Rs/_ ,1/2 litr-45 Rs/_<br> 1litr - 60 Rs/_ , 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row container ms-lg-5 ps-lg-5">
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/MAAZA1.jpg" class="img-fluid rounded-start" alt="maaza image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Maaza</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/slice1.jpg" class="img-fluid rounded-start" alt="slice image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Slice</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="card mb-3" style="max-width: 340px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="./assets/cooldrinks/frooti44.jpg" class="img-fluid rounded-start" alt="frooti image">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Frooti</h5>
              <p class="card-text">1/4litr - 20 Rs/_<br> 1/2litr -45 Rs/_<br> 1litr - 60 Rs/_<br> 2litr - 95 Rs/_</p>
              <p class="card-text"><button class="btn btn-outline-primary">order now</button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>