<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container header">
        <p class="fs-5">We TheCafeOfGoodHope is here to offer these coffees and teas to you all guys... Enjoy our drinks buddies... and we have 10 years of experience in this profession.</p>
    </div>
    <div class="container-fluid">
      <div class="row  d-flex justify-content-center">
        <div class="col p-3">
            <div class="card bg-dark text-light" style="width: 18rem; height: 600px;">
                <img src="./assets/images/coffee.jpg" class="card-img-top p-3" alt="it is a coffee image">
                <div class="card-body">
                  <h5 class="card-title">Coffee-(20rs/-)</h5>
                  <p class="card-text">Place a coffee filter in the filter basket of a coffee maker certified to brew between 195-200 degrees and add 6 ounces of water per 1-2 tablespoons of ground coffee (depending on personal taste) to the water reservoir. Turn on the coffee maker and let brew until finished. Enjoy your coffee immediately.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col  p-3">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="./assets/images/black-coffee.jpg" class="card-img-top p-3" alt="it is a black coffee image">
                <div class="card-body">
                  <h5 class="card-title">Black-Coffee-(25rs/-)</h5>
                  <p class="card-text">Black coffee is simply coffee that is normally brewed without the addition of additives such as sugar, milk, cream, or added flavors. While it has a slightly bitter taste compared to when it is flavored with additives, many people love a strong cup of black coffee. In fact, for some, it is part of their everyday diet.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col p-3">
            <div class="card bg-dark text-light" style="width: 18rem; height: 600px;">
                <img src="./assets/images/coldcoffe.jpg" class="card-img-top p-3" alt="it is a cold coffee image">
                <div class="card-body">
                  <h5 class="card-title">Cold-Coffee-(40rs/-)</h5>
                  <p class="card-text">How do you make a cold coffe at home?
                    Image result for cold coffee making process
                    Put ice cubes in a blender jar and add coffee, milk, honey, cream and about two tablespoons of ice cream. If you don't have a blender just take a shaker and put milk, honey, coffee, cream and give it a nice stir and then shake it! If you like your cold coffee extra creamy, then add some fresh cream and shake it well.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col p-3">
            <div class="card" style="width: 18rem; height: 600px;">
                <img src="./assets/images/hot coffee.jpg" class="card-img-top p-3" alt="it is a hot coffee image">
                <div class="card-body">
                  <h5 class="card-title">Hot-Coffee-(40rs/-)</h5>
                  <p class="card-text">Use cold filtered water (if you don't like drinking your home water, don't make coffee with it)
                    Measure your coffee- use 1 tablespoons of ground coffee for every 6-8 ounces of water (usually one cup on your brewer)
                    Water temperature needs to be between 195 degrees – 205 degrees.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
    <!-- </div> -->
    <!-- <div class="row"> -->
        <div class="col  p-3">
            <div class="card" style="width: 18rem; height: 550px;">
                <img src="./assets/images/tea.jpg" class="card-img-top p-3" alt="it is a tea image">
                <div class="card-body">
                  <h5 class="card-title">Tea-(10rs/-)</h5>
                  <p class="card-text">Pluck the very youngest leaves and leaf buds.
                    Roll the leaves between your hands and crush them until the leaves start to darken and turn red.
                    Spread them out on a tray, and leave them in a cool location for 2 to 3 days. ...
                    Dry them in the oven at 250 F for about 20 minutes.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col p-3">
            <div class="card bg-dark text-light" style="width: 18rem; height: 550px;">
                <img src="./assets/images/badam-tea.jpg" class="card-img-top p-3" alt="it is a badam tea image">
                <div class="card-body">
                  <h5 class="card-title">Badam-Tea-(35rs/-)</h5>
                  <p class="card-text">Take almonds in a mixer and powder it finely.
                    Next in a sauce pan heat milk. As it boild, include powdered almond. ...
                    Next heat water in a separate sauce pan. ...
                    Strain badam milk (prepared in above step) in to it. ...
                    Serve badam flavored badam tea with biscuits.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col p-3">
            <div class="card" style="width: 18rem; height: 550px;">
                <img src="./assets/images/green-tea.jpg" class="card-img-top p-3" alt="it is a Green tea image">
                <div class="card-body">
                  <h5 class="card-title">Green-Tea-(30rs/-)</h5>
                  <p class="card-text">Heat water to 80-85ºC/176-185ºF* (not boiling – this is the optimal green tea temperature to avoid a bitter taste). ...
                    Pour water in your glass/mug first. ...
                    Then, add the tea leaves to the water. ...
                    Steep the tea for three minutes. ...
                    Add in the sweetener of your choice or any 'extras', and enjoy.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
        <div class="col p-3">
            <div class="card bg-dark text-light" style="width: 18rem; height: 550px;">
                <img src="./assets/images/lemon-tea.jpg" class="card-img-top p-3" alt="it is a lemon tea image">
                <div class="card-body">
                  <h5 class="card-title">lemon-tea-(25rs/-)</h5>
                  <p class="card-text">Slice a lemon in half and squeeze the juice from one half of the lemon into a mug, seeds and pulp are okay. Top with hot water and enjoy!
                    Cut a lemon into 6-8 round slices and add half of them to the bottom of a mug.</p>
                  <button class="btn btn-primary">order now..</button>
                </div>
              </div>
        </div>
      </div>
    </div>
    
</body>
</html>