<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="container">
      <p class="text-primary">Here are the top Collection of Popular South Indian breakfast recipes. South Indian cuisine is very vast as it comprises of cuisines from the five South Indian states – Tamil Nadu, Telangana, Andhra Pradesh, Kerala and Karnataka.</p>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/idly4.jpg" class="img-fluid rounded-start" alt="it is a idly recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Idli Recipe</h5>
            <p class="card-text"> Idli Recipe – Idli is one of the most healthiest and popular South Indian breakfast dish. These are soft, light, fluffy idlis served with Sambar and Coconut Chutney is not only tasty but very healthy as well.
              Most of the South Indian breakfast recipes are healthy or can be made healthier by replacing all purpose flour with whole wheat flour. Some recipes require some preparation like soaking rice and lentils for idli or dosa.
            </p>
            <p class="text-center h5">cost-30rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Masala Dosa Recipe</h5>
            <p class="card-text">  Masala Dosa – It is again a popular South Indian breakfast snack not only in India but abroad as well. Though making masala dosa is a long process, but its worth it. In this recipe, the dosa is crisp and served with a delicious potato masala. If you do not have time, then skip making the potato masala and just make the sada dosa (plain dosa) with coconut chutney.
            </p>
            <p class="text-center h5">cost-30rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/masaladosa.jpg" class="img-fluid container-md rounded-start" alt="it is a masaladosa recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/wada2.jpg" class="img-fluid container-md rounded-start" alt="it is a wada recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Vada Recipe</h5>
            <p class="card-text">Vada – These are crispy, fluffy, soft and delicious lentil fritters from South Indian cuisine. If sweet breakfast isn’t your thing, try this recipe for savory spiced donuts made with black gram lentils and aromatic spices. The combo of Vada with Sambar tastes too good.
            </p>
            <p class="text-center h5">cost-40rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Upma Recipe</h5>
            <p class="card-text"> Upma Recipe – It is an easy and quick South Indian breakfast dish made from rava (sooji or cream of wheat). Upma is usually served with coconut chutney, lemon slices or Lemon pickle. It can also be had plain. There are many variations of upma popular in south India like:
            </p>
            <ul>
              <li>Tomato Upma</li>
              <!-- <li>Aval Upma</li> -->
              <li>Idly Upma</li>
            </ul>
            <p class="text-center h5">cost-25rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/upma.jpg" class="img-fluid container-md rounded-start" alt="it is a upma recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/uttappam.jpg" class="img-fluid container-md rounded-start" alt="it is a Uttappam recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Uttapam recipe</h5>
            <p class="card-text"> Uttapam recipe – Uttapam is a delicious South Indian tiffin breakfast of thick pancakes. These pancakes are made from fermented rice and urad dal batter. Other delicious uttapam variations you can make for breakfast are: <br>Ravva Uttappam <br>Oats Uttapam.
            </p>
            <!-- <ul>
              <li>Rava Uttapam</li>
              <li>Oats Uttappam</li>
            </ul> -->
            <p class="text-center h5">cost-35rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Poori masala recipe</h5>
            <p class="card-text"> Poori masala recipe – the combo of Poori with potato curry is popular all over India. This South Indian potato masala gravy taste awesome not only with pooris but also goes very well with dosa or Roti or Paratha. At times I also make this Maharashtrian style poori bhaji and Punjabi aloo poori. This breakfast dish is liked all over India and is made in different ways.
            </p>
            <p class="text-center h5">cost-30rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/puri-and-curry...jpg" class="img-fluid container-md rounded-start" alt="it is a puri recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/bonda3.jpg" class="img-fluid container rounded-start" alt="it is a bonda recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Mysore Bonda recipe</h5>
            <p class="card-text">Mysore Bonda Recipe – These are crisp, soft and fluffy fritters made with urad dal (black gram), some spices and fresh coconut bits. There are many variations of bonda which are made like: <br>Potato Bonda, Sabudana Bonda <br>Manglore Bonda
            </p>
            <p class="text-center h5">cost-30rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Pesarattu Recipe</h5>
            <p class="card-text">Pesarattu recipe – Begin your day with these healthy crepes made from green mung beans. Known as Pesarattu these are crisp crepes made with a lightly spiced mung bean batter and are a speciality breakfast from the Andhra cuisine. Thus Pesarattu literally means Moong Dal Dosa. Pesarattu is also called as pesara dosa in telugu language.
            </p>
            <p class="text-center h5">cost-40rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/pesarattu.jpg" class="img-fluid container-md rounded-start" alt="it is a pesarattu recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/Pongal.png" class="img-fluid container-md rounded-start" alt="it is a pongal recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Pongal Recipe</h5>
            <p class="card-text">Pongal Recipe – Ben Pongal is a South Indian breakfast made with rice and yellow moong lentils. This porridge like savory dish is laced with cumin, asafoetida and black pepper. Not to forget the lovely aroma of ghee, which is used for tempering these spices. Two more tasty Pongal variations you can make for breakfast are:
            Rava pongal & Sweet Pongal
            </p>
            <p class="text-center h5">cost-25rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Semiya upma Recipe</h5>
            <p class="card-text">Semiya upma – It is a delicious upma variant made with vermicelli, aromatics, spices, cashews and herbs.
              This quick and easy breakfast dish is also called as vermicelli upma and has unique flavors and textures. 
              A vegan breakfast option that comes together in under 30 minutes. Semiya is a south-indian word meaning "Vermiselli" & "Upma". 
              Upma is a savory breakfast dish from the South Indian cuisine and made with various ingredients – semolina, oats, millets, quinoa, bread, flattened rice etc. Not only the hero ingredient can be different but the additional vegetables, spices etc can also be unique.
            </p>
            <p class="text-center h5">cost-35rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/semiya-upma-recipe.jpg" class="img-fluid container-md rounded-start" alt="it is a semiya-upma recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/parota.jpg" class="img-fluid container-md rounded-start" alt="it is a parota recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Malabar parotta Recipe</h5>
            <p class="card-text">Malabar parotta recipe – Kerala parotta is a layered flaky flat bread that is popular across the whole of south India. It is a variation of the North Indian Lachha paratha. 
              You can serve Kerala paratha with any vegetable curry like Veg korma or potato kurma or Veg Kolhapuri or Veg kadai or lentil curry like Dal makhani or with Paneer butter masala. Even the simple dal tastes so good with the Kerala parotta.
            </p>
            <p class="text-center h5">cost-50rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Chapathi Recipe</h5>
            <p class="card-text">This chapati recipe is simple and delicious. Serve this Indian flatbread with curries or use it as a sandwich wrap. Enjoy!.. One of the most famous and versatile of indian dishes, The chapathi is an idian breed made daily in indian kitechens,
              no meal is comlplete without chapathi. Chapathi can reduses weight most of people take chapathi as diet.
            </p>
            <p class="text-center h5">cost-45rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/Chapati-recipe.jpg" class="img-fluid container-md rounded-start" alt="it is a chapathi recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/Ragi-Dosa.jpg" class="img-fluid container-md rounded-start" alt="it is a ragi-dosa recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Ragi Dosa Recipe</h5>
            <p class="card-text">Dosa is a comfort food and loved by most individuals. This one here is a healthy alternative to the usual dosas with a combination of two flours, including ragi and rice flour. This low-glycaemic index food help control blood sugar levels.
            </p>
            <p class="text-center h5">cost-35rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-info text-decoration-underline">Mirchi-bajji Recipe</h5>
            <p class="card-text">Mirchi bajji - a spicy and savoury snack recipe made with green chillies or also known as jalapenos. it is a perfect evening snack with a cup of tea or coffee, especially during monsoon or winter season. it is generally eaten as it is without any sides but tastes great with dips like green chutney, tomato sauce or schezwan chutney.
            </p>
            <p class="text-center h5">cost-25rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <img src="./assets/pics/mirchi bajji.jpg" class="img-fluid container-md rounded-start" alt="it is a Mirchi recipe image" height="500px">
        </div>
      </div>
    </div>
    <div class="card mb-3" >
      <div class="row g-0">
        <div class="col-md-4">
          <img src="./assets/pics/Poha.jpg" class="img-fluid container-md rounded-start" alt="it is a poha recipe image" height="500px">
        </div>
        <div class="col-md-8">
          <div class="card-body text-dark">
            <h5 class="card-title text-center text-warning text-decoration-underline">Pohe Recipe</h5>
            <p class="card-text">Pohe Recipe - Similar to how Idli and Upma are traditional breakfast recipes of Southern India, Poha is traditional and widely preferred breakfast recipe in Western states of India. This recipe is known as Pohe in Maharashtra and Poha in Gujarat and follows the same preparation method with poha (rice flakes) being the main ingredient..
            </p>
            <p class="text-center h5">cost-30rs/-</p>
            <div class="text-center">
            <button class="btn btn-primary">Order now..</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>