<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <div class="container-fluid">
        <div class="card text-white">
            <img src="./assets/images/404-error-page-not-found2.jpg" class="card-img" alt="error image">
            <div class="card-img-overlay text-dark fw-bold">
                    <h1 class="card-title text-center">404 error</h1>
                    <h2 class="text-center">page not found</h2>
                    <p class="card-text text-center"> The Page you are looking for is no longer exists. Perhaps you can return back to the sites <a routerLink="/home">Homepage</a>
                    and see if you can find what you are looking for.</p>
            </div>
        </div>
   </div>
</body>
</html>
