<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <!-- <div class="container">
    <h2>App deatails: {{name}}</h2>
    <h3>Number of days it has takesn: {{appdays}}</h3>
    <input type="text" [value]="binding">
    <h1 [innerHtml]="binding"></h1>
    <img [src]="imgUrl" alt="img" />
    <input type="text" name="" id="" #ref>
    <button click="test(ref.value)">click here</button><br>
    <button click="incrementvalue()">increment</button>
    <p [innerHtml]="counter"></p>
  </div> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="./assets/images/home bg1-1.jpg" class="d-block w-100 " height="580px" alt="Cafe image">
            <div class="carousel-caption d-none d-md-block text-start">
              <h5 class="fs-1 fw-bold">Greet every single day with coffee</h5>
              <p class="fs-3 fw-5">Keep calm and drink more coffee..... we will give you the best, we will serve you with peace.</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/signup">Sign up today</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./assets/images/home bg2.jpg" class="d-block w-100" height="580px" alt="Coffee image">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="fs-1 fw-bold">Never say no to coffee...!</h5>
              <p class="fs-3 fw-5">Wake up... and smell the coffee, come and join us.</p>
              <p><a class="btn btn-lg btn-primary" href="#footer">Reach us on..</a></p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="./assets/images/home bg3.jpg" class="d-block w-100 " height="580px" alt="Cafe photo with couple">
            <div class="carousel-caption d-none d-md-block text-end">
              <h5 class="fs-1 fw-bold">Every thing gets better with coffee</h5>
              <p class="fs-3 fw-bold">Life begins after coffee..</p>
              <p><a class="btn btn-lg btn-primary" routerLink="/aboutus">know more about us..</a></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- marketing -->
<div class="bg-info">
        <div class="container marketing pt-2 pb-3">
        <h3 class="text-center pb-3">Few Reviews by the customers..</h3>
        <div class="row">
          <div class="col-lg-3 col-md-6 text-start">
            <img class="rounded-circle" width="140" height="140"  src="./assets/images/1653483994251.jpg" alt="customer image">
            <h2>Bhaskar Netha</h2>
            <p>“Excellent environment, friendly service, great menu choices and really decent coffees, food and drinks at affordable prices. Will be back. “</p>
              <div class="ratings pt-0">
                  <i class="fa fa-star rating-yellow"></i>
                  <i class="fa fa-star rating-yellow"></i>
                  <i class="fa fa-star rating-yellow"></i>
                  <i class="fa fa-star rating-yellow"></i>
                  <i class="fa fa-star rating-yellow"></i>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <img class="rounded-circle" width="140" height="140" src="./assets/images/1653491550451.jpg" alt="customer image">
            <h2>Ramkrushna</h2>
            <p>“What a lovely cafe, and service and atmosphere, They offered the best coffee and showed the best attitude to its costumers. definitely hope to go back..</p>
            <div class="ratings">
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star"></i>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <img class="rounded-circle" width="140" height="140"  src="./assets/images/1653483240937.jpg" alt="customer image">
            <h2>Sai Kumar</h2>
            <p>Amazing coffee experience for me as i have coffee. This cafe has nice architecture too looks awesome.  I just want to keep coming back to this place</p>
            <div class="ratings">
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
          </div>
          </div>
          <div class="col-lg-3 col-md-6 text-end">
            <img class="rounded-circle" width="140" height="140"  src="./assets/images/1653486462692.jpg" alt="customer image">
            <h2>Chandra Shekar</h2>
            <p>I really like the atmosphere, good coffee, and nice interior.The drinks and foods were all tasty and worthwhile.I love this place, this is a must to visit.</p>
            <div class="ratings">
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star rating-yellow"></i>
              <i class="fa fa-star"></i>
          </div>
          </div>
        </div>
      </div>
</div>
</body>
</html>